/*chrome滚动条*/
::-webkit-scrollbar-track-piece{
 -webkit-border-radius:0;
}
::-webkit-scrollbar{
 width:16px;
 height:8px;
 background-color:#ccc
}
::-webkit-scrollbar-thumb{
 height:50px;
 background-color:#6980ae;
 -webkit-border-radius:0px;
 /*outline-offset:-2px;
 border: 2px solid #000;*/
}
    ::-webkit-scrollbar-thumb:hover {
        height: 50px;
        background-color: #3b5997;
        /*-webkit-border-radius: 4px;*/
    }